Source: postgresql-musicbrainz-collate
Priority: extra
Maintainer: Michael Wiencek <mwtuea@gmail.com>
Build-Depends: debhelper (>= 8.0.0), postgresql-server-dev-9.3, libicu-dev
Standards-Version: 3.9.5
Section: database
Homepage: http://musicbrainz.org/
Vcs-Git: git://github.com/metabrainz/postgresql-musicbrainz-collate.git
Vcs-Browser: http://github.com/metabrainz/postgresql-musicbrainz-collate

Package: postgresql-musicbrainz-collate
Section: database
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.3, libicu52
Description: MusicBrainz PostgreSQL collation extension
 This extension provides collate support using the Unicode Collation Algorithm,
 as it is implemented by the International Components for Unicode library.
